body {
    margin: 0;
    padding: 0;
    font-family: 'Cabin', sans-serif;
    box-sizing: border-box;
    background-color: #eff1f2;
}

.logo__link {
    text-decoration: none;
    color: #2edf4c;
    font-weight: bold;
}

.logo__link:hover {
    color: #7fef92;

}

.header {
    background-color: #2c3238;
    padding: 10px 70px;
}

.header__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1400px;
    margin: 0 auto;
}

.logo__title {
    margin-bottom: 0;
    margin-top: 12px;
    color: rgba(255, 255, 255, 0.9);
}

.logo__picture {
    height: 55px;
    width: auto;
    display: inline-block;
    margin-right: 10px;
}

.logo__describe {
    margin-top: 0;
    color: rgba(255, 255, 255, 0.9);
}

.header__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

input {
    background-color: #464c51;
    border: none;
    height: 30px;
    width: 200px;
    border-radius: 2px;
    outline: none;
    padding: 2px 10px;
    color: rgba(255, 255, 255, 0.95);
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
}

::placeholder {
    color: #8d8f91;
    font-family: 'Cabin', sans-serif;
    font-size: 15px;
}

label {
    background-color: #464c51;
    display: inline-block;
    border: none;
    height: 30px;
    width: 160px;
    border-radius: 2px;
    border-right: 1px solid #2c3238;
    line-height: 30px;
    text-align: center;
    padding: 2px 0;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.75);
}

.users__title {
    color: #2c3238;
    text-align: center;
    margin-top: 40px;
}

.users__titleColor{
    color: green;
}